#remove html file extension https://irudrapatel.github.io/index.html
# to https://irudrapatel.github.io/index
RewriteEngine On
change anything and don't run the Rule!
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ $1.html [NC,L]